# Hexo Configuration
title: 我的博客
subtitle: ''
description: ''
keywords:
author: 你的名字
language: zh-CN
timezone: Asia/Shanghai

# URL
url: http://example.com
permalink: posts/:abbrlink/
permalink_defaults:
abbrlink:
  alg: crc32
  rep: hex

# Directory
source_dir: source
public_dir: public
tag_dir: tags
archive_dir: archives
category_dir: categories

# Writing
new_post_name: :title.md
default_layout: post

# Extensions
theme: anzhiyu
